
@media screen and (max-width: 767px){
 
        @font-face {
            font-family: KhJayavarmon;
            src: url(../fonts//Khmer\ SN\ Kampongcham.ttf);
        }
       body {
        font-family: KhJavavarmon;
        width: 100%;
        background-color: darksalmon;
        margin: 0px;
       }
       header {
        
        height: 45px;
        width: 100%;
        display: flex;
        background-color: dodgerblue;
       }
       header img {
        display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
      width: 40px;

      
        
       }
       .menu a {
        margin-left: 2px;
        text-align: center;
        text-decoration: none;
        padding: 10px;
        color: #ddd;
        font-size: 0.80rem;
       }
       .menu a:hover {
        text-decoration: underline;
       }
       
       a {
        font-family: KhJayavarmon;
       }
       summary {
        cursor: pointer;
       }
       detail {
        
        max-width: 766px;
       }
       .main-content {
        margin-top: 10px;
        margin-bottom: 10px;
        margin-left: 20px;
       }
       .sum1 {
        margin-left: 10px;
       }
        .main-content a:hover {
            opacity: 50%;
        }

        .main-content img {
            width: 90px;
        }
        a .logo1{
            margin-top: 30px;
            margin-left: 10px;
           
        }



        .footer{
            display:block;
            
            color: #dddd;
            background-color: darkblue;
            max-width: 100%;
        }
        .footer img {
            width: 30px;
            
        }
        .footer img:hover {
            opacity: 80%;
        }
        .footer a{
            color: #dddd;
        }
        .footer a:hover {
            color:palegoldenrod;
            text-decoration: none;
        }
        .footer li {
            list-style: none;
        }
        #link_logo {
            margin: 20px;
            margin-bottom: 7px;
            display: grid;
            text-align: center;
        }
        #link_logo{
            
        }
       
        .footer #uper_foot {
            display: flex;
            margin-left: 20px;
            margin-top: 30px;
        }
        span {
            margin-bottom: 30px;
        }
        #help, #about_us{
            font-size: 13px;
        }
}