
@media screen and (max-width: 767px){
        * {
            box-sizing: border-box;
        }
        @font-face {
            font-family: KhJayavarmon;
            src: url(../fonts/KDJayavarman1.ttf);
        }
        .milestone {
            
            margin: 10px;
            background-color:rgba(255, 239, 213, 0.53);
            border-radius: 10px;
            background-blend-mode:overlay;
            box-shadow: 5px 5px 10px rgba(78, 78, 78, 0.57);
            
            
        }
        .milestone p {
            font-family: KhJayavarmon;
            text-align: justify;
            margin: 15px;
            font-size: 14px;
        }
       .milestone #b1 {
        
        padding-left: 18px;
        padding-bottom: 15px;
        
       }
       body {
        font-family: KhJavavarmon;
        width: 100%;
        margin: 0px;
        
        
       }
       .background {
        background-image: url('..//images/a.jpg');
        
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover ;
        width: 100%;
        
        margin: 0;
        height: 100%;
        background-attachment: fixed;
       }
       
       #more {
        display: none;
       }
       header {
        top:0;
        position: fixed;
        height: 45px;
        width: 100%;
        display: flex;
        background-color: dodgerblue;
        font-weight: bolder;
       }
       header img {
        display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
      width: 40px;

      
        
       }
       .menu a {
        margin-left: 2px;
        text-align: center;
        text-decoration: none;
        padding: 10px;
        color: #ddd;
        font-size: 0.80rem;
       }
       .menu a:hover {
        text-decoration: underline;
       }
       
       a {
        font-family: KhJayavarmon;
       }
       summary {
        cursor: pointer;
       }
       detail {
        
        max-width: 766px;
       }
       .main-content {
        margin-top: 10px;
        margin-bottom: 10px;
        margin-left: 20px;
       }
       .sum1 {
        margin-left: 10px;
       }
        .main-content a:hover {
            opacity: 50%;
        }

        .main-content img {
            width: 90px;
        }
        a .logo1{
            margin-top: 30px;
            margin-left: 10px;
           
        }



        .footer{
            display:block;
            
            color: #dddd;
            background-color: rgba(30, 144, 255, 0.84);
            max-width: 100%;
            bottom: 0;
        }
        .footer img {
            width: 30px;
            
        }
        .footer img:hover {
            opacity: 80%;
        }
        .footer a{
            font-family:san;
            color: #dddd;
        }
        .footer a:hover {
            color:palegoldenrod;
            text-decoration: none;
        }
        .footer li {
            list-style: none;
        }
        #link_logo {
            margin: 20px;
            margin-bottom: 7px;
            display: grid;
            text-align: center;
        }
       
        .footer #uper_foot {
            display: flex;
            margin-left: 20px;
            margin-top: 30px;
        }
        span {
            margin-bottom: 30px;
        }
        #help, #about_us{
            font-size: 15px;
        }
        #help li, #about_us li{
            padding-top:10px;
        }
}